.project{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 80px;
}

.project2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    margin-top: 80px;
}

.project2 img{
    height: 300px;
    border-radius: 20px;
    border: 3px solid #1A1A1A;
    box-shadow: 4px 6px 0 #1A1A1A;
    transition: 0.3s ease-in-out;
    margin-left: 50px;
    margin-top: 50px;
    }

    .project2 img:hover{
        transform: translateY(-5px);
    }

.project img{
    height: 300px;
    border-radius: 20px;
    border: 3px solid #1A1A1A;
    box-shadow: 4px 6px 0 #1A1A1A;
    transition: 0.3s ease-in-out;
    margin-right: 50px;
    margin-top: 50px;
    }

    .project img:hover{
        transform: translateY(-5px);
    }

    .textBlock{
        font-size: 18px;
        background-color: #f2f2f2;
        border: 3px solid #1A1A1A;
        border-top: 0;
        box-shadow: 4px 6px 0 #1A1A1A;
        padding-bottom: 0;
        box-sizing: border-box; /* añadido para incluir el borde y el relleno en el ancho */
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
    }

    .textBlock2{
        font-size: 18px;
        background-color: #f2f2f2;
        border: 3px solid #1A1A1A;
        border-top: 0;
        box-shadow: 4px 6px 0 #1A1A1A;
        padding-bottom: 0;
        box-sizing: border-box; /* añadido para incluir el borde y el relleno en el ancho */
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
    }

    .header {
        background-color: #9723c9;
        height: 60px;
        border: 3px solid #1A1A1A;
        border-bottom: 0;
        box-shadow: 4px 0 0 #1A1A1A;
        position: absolute;
        top: -20px;
        left: -3px;
        width: calc(100% + 6px); /* ajusta el ancho para que sea igual al contenedor */
        box-sizing: border-box; /* añadido para incluir el borde y el relleno en el ancho */
    }

    .header2 {
        background-color: #c92370;
        height: 60px;
        border: 3px solid #1A1A1A;
        border-bottom: 0;
        box-shadow: 4px 0 0 #1A1A1A;
        position: absolute;
        top: -20px;
        left: -3px;
        width: calc(100% + 6px); /* ajusta el ancho para que sea igual al contenedor */
        box-sizing: border-box; /* añadido para incluir el borde y el relleno en el ancho */
    }

    .textBlock2 h1{
        color: #c92370;
        text-shadow: 1px 0 #1a1a1a, -1px 0 #1a1a1a, 0 1px #1a1a1a, 0 -1px #1a1a1a,
        1px 1px #1a1a1a, -1px -1px #1a1a1a, 1px -1px #1a1a1a, -1px 1px #1a1a1a;
        position: relative;
        z-index: 1;
        margin: 0;
        margin-top: 60px;
    }

    .textBlock h1{
        color: #9723c9;
        text-shadow: 1px 0 #1a1a1a, -1px 0 #1a1a1a, 0 1px #1a1a1a, 0 -1px #1a1a1a,
        1px 1px #1a1a1a, -1px -1px #1a1a1a, 1px -1px #1a1a1a, -1px 1px #1a1a1a;
        position: relative;
        z-index: 1;
        margin: 0;
        margin-top: 60px;
    }

    .textBlock p{
        margin: 0 50px;
        margin-top: 10px;
    }

    .textBlock2 h1{
        color: #c92370;
        text-shadow: 1px 0 #1a1a1a, -1px 0 #1a1a1a, 0 1px #1a1a1a, 0 -1px #1a1a1a,
        1px 1px #1a1a1a, -1px -1px #1a1a1a, 1px -1px #1a1a1a, -1px 1px #1a1a1a;
        position: relative;
        z-index: 1;
        margin: 0;
        margin-top: 60px;
    }

    .textBlock2 p{
        margin: 0 50px;
        margin-top: 10px;
    }

    .links{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 0;
        margin-left: 0;
    }

    .links button{
        width: 100px;
        transition: 0.3s ease-in-out;
        margin-top: 20px;
        margin-bottom: 40px;
        justify-self: flex-end;
    }

    .links button:hover{
        width: 120px;
    }

    .links2{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 0;
        margin-left: 0;
    }

    .links2 button{
        width: 100px;
        transition: 0.3s ease-in-out;
        margin-top: 20px;
        margin-bottom: 40px;
        justify-self: flex-end;
        background-color: #c92370;
    }

    .links2 button:active{
        background-color: #921b52;
    }

    .links2 button:hover{
        width: 120px;
    }